&nbsp;
<hr />
<p style="text-align: center;"><span style="color: #B31B1B;"><b>Weill Cornell Medicine</b></span></p>
<p style="text-align: center;">Division of Biostatistics and Epidemiology</p>
<p style="text-align: center;">Department of Healthcare Policy and Research</p>
<p style="text-align: center;"><span style="color: #808080;">Nicholas Williams, MPH, was partially supported by the following grant: Clinical and Translational Science Center at Weill Cornell Medical College (1-UL1-TR002384-01).</span></p>
&nbsp;