h1, h2, h3{
  font-family: 'Roboto', sans-serif;
}

h4, p{
  font-family: 'Source Sans Pro', sans-serif;
}

.table{
  font-family: 'Nunito', sans-serif;
}

thead {
  color: black;
}

tbody {
  color: black;
}

caption {
  color: black;
}
